@font-face {
    font-family: 'TTNorms-Regular';
    src: local('TTNorms-Regular'),
    url("https://rahatlukum13.github.io/Level-no.5/Шрифты/tt-norms-the-one-universal-grotesk/TTNorms-Regular.otf") format('opentype');
}

@font-face {
    font-family: 'TTNorms-Bold';
    src: local('TTNorms-Bold'),
    url("https://rahatlukum13.github.io/Level-no.5/Шрифты/tt-norms-the-one-universal-grotesk/TTNorms-Bold.otf") format('opentype');
}

@font-face {
    font-family: 'TTNorms-Thin';
    src: local('TTNorms-Thin'),
    url("https://rahatlukum13.github.io/Level-no.5/Шрифты/tt-norms-the-one-universal-grotesk/TTNorms-Thin.otf") format('opentype');
}

@font-face {
    font-family: 'TTNorms-ThinItalic';
    src: local('TTNorms-ThinItalic'),
    url("https://rahatlukum13.github.io/Level-no.5/Шрифты/tt-norms-the-one-universal-grotesk/TTNorms-ThinItalic.otf") format('opentype');
}


@font-face {
    font-family: 'Wremena Regular';
    src: local('Wremena Regular'),
    url("https://rahatlukum13.github.io/Level-no.5/Шрифты/wremena/Wremena Regular.otf") format('opentype'),
    url("https://rahatlukum13.github.io/Level-no.5/Шрифты/wremena/Wremena Regular.woff") format('woff');
}


@media screen and (max-width: 500px) {
    #for_slide{margin: 5% 10%;}
    .projects{width: 90dvw; padding: 5dvw;}
    .projects_horiz{width: 88dvw;}
    .projects_vertical{width: 42.8dvw;}
    .projects img{height: calc(88dvw / 16 * 9);}
    .projects_name{padding: 6dvw;}
    .mainContainer{grid-template-columns: 1fr; padding: 5dvw;}
    .contain img{width: 88dvw; height: calc(88dvw / 16 * 9);}
}
@media screen and (min-width: 500px) {
    #for_slide{margin: 10% 15%;}
    .projects{width: 80dvw; padding: 10dvw;}
    .projects_horiz{width: 78dvw;}
    .projects_vertical{width: 37.8dvw;}
    .projects img{height: calc(78dvw / 16 * 9);}
    .projects_name{padding: 11dvw;}
    .mainContainer{grid-template-columns: repeat(2, 1fr); padding: 12dvw;}
    .contain img{width: 36dvw; height: calc(36dvw / 16 * 9);}
}
@media screen and (max-width: 800px) {
    .ab_us_ul{flex-direction: column;}
    #Dima{margin: 0;}
    .ab_ul_img{width: auto;}
    .ab_ul_img li img{width: 30dvw;}
    #ab_us_h{font-size: 9dvw;}
    #ab_us_pre{font-size: 1.6dvw;}
    .slide_ul{width: 80%;font-size: 3.02dvw;}
    .strict_li{height: auto; width: 100%;}
    #fi_slide_3_ul{width: 100%;}
    .strict_li img{width: 100%;}
    #se_slide_3_ul {width: 100%;}
    #img_slide_3 {margin-left: 0; width: 100%;}
    #Slide3{justify-content:start;height: auto;}
    #slide_3_in{flex-direction: column;font-size: 2.2dvw; margin-top: 2%;}
    #Slide3{flex-direction: column; margin: 15% 9%;}
    #hidden_slide{display: block;height: calc(17 * 1.2em);}
    #Non_hidden{display: none;}
    #non_hidden_slide{display: none;}
    #hidden{display: block;}
    .no_sl li{width: 100%;}
    .slide2{height: auto;}
    .p_thi_slide {margin-bottom: 2%;}
    .p_thi_slide .Wrem_Regular{font-size: 9dvw;}
    .p_thi_slide .TTN_ThinItalic{font-size: 2.3dvw;}
    #thi_slide_pre{margin-left: 1em;}
    #for_slide{margin: 10% 5%;margin-top: 20%;}
    #to_contact{font-size: 2.2dvw}
}
@media screen and (min-width: 800px) {
    .ab_us_ul{flex-direction: row;}
    .ab_ul_img li img{width: 16dvw;}
    #ab_us_h{font-size: 4dvw;}
    #ab_us_pre{font-size: 0.8dvw;}
    .slide_ul{width: 57%;font-size: 2.15dvw;}
    #fi_slide_3_ul{width: 26dvw;}
    .strict_li{height: calc(17 * 1.2em + 3em);}
    .strict_li img{width: 30dvw;}
    #se_slide_3_ul{width: 50dvw;}
    #img_slide_3 {margin-left: 12%;width: 88%;}
    #Slide3{justify-content:space-between;height: 80%; margin: 7% 9%;}
    #slide_3_in{flex-direction: row; font-size: 0.9dvw;}
    #Slide3{flex-direction: row;}
    #hidden_slide{display: none; margin-top: 0%;}
    #Non_hidden{display: block;}
    #non_hidden_slide{display: block;}
    #hidden{display: none;}
    .slide2{height: calc(100dvw / 16 * 9);}
    .p_thi_slide {margin-bottom: 8%;}
    .p_thi_slide .Wrem_Regular{font-size: 4dvw;}
    .p_thi_slide .TTN_ThinItalic{font-size: 1dvw;}
    #thi_slide_pre{margin: 1.5em 0;}
    #to_contact{font-size: 1dvw}
}

@media screen and (max-width: 1100px) {
    header{height: 40px; font-size: 11px;}
    #button{height: 40px; padding-top: 90px;}
    #button button{font-size: 11px;}
    #button li{width: 128px;}
    .projects_name{padding-top: 90px;}
    .mainContainer{padding-top: 180px;}
}
@media screen and (min-width: 1100px) {
    header{height: 60px;font-size: 17px;}
    #button{height: 60px; padding-top: 110px;}
    #button button{font-size: 17px;}
    #button li{width: 192px;}
    .projects_name{padding-top: 110px;}
    .mainContainer{padding-top: 200px;}
}
@media screen and (max-width: 1400px) {
    #footer_ul{flex-direction: column;}
    footer ul{justify-content: center;}
    .container{display: flex;}
    .footer_ul{flex-direction: column; height: 0px;}
    footer > ul{transition: all 1s;}
}
@media screen and (min-width: 1400px) {
    footer ul{justify-content: space-around;}
    .container{display: none;}
    .footer_ul{height: auto;}
}



* {
    margin: 0;
    padding: 0;
    scrollbar-width: none;
}

body{
    position: relative;
    font-family: 'TTNorms-Regular', sans-serif;
}



p{
    color: white;
}
#sec_slide_pre div{
    line-height: 0.9em;
}

img{
    user-select: none;
}

a{
    display: block;
    text-decoration: none;
    color: white;
    transition: color 0.5s ease;
}

ul{
    list-style: none;
}




.TTN_Bold{
    font-family: 'TTNorms-Bold';
    color: #ffffff;
}
.TTN_Thin{
    font-family: 'TTNorms-Thin';
    color: #ffffff;
}
.TTN_ThinItalic{
    font-family: 'TTNorms-ThinItalic';
    text-transform: uppercase;
    color: #ffffff;
}
.Wrem_Regular{
    font-family: 'Wremena Regular';
    text-transform: uppercase;
    line-height: 0.9em;
    color: #ffffff;
}



header {
    position: fixed;
    width: calc(100vw - 50px);
    margin: 25px;
    z-index: 3;
}
nav {
    position: relative;
}
.mainMenu{
    position: relative;
    top: 0;
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.mainMenu li{
    position: relative;
    height: 100%;
}
.leftMainMenu{
    position: relative;
    height: 100%;
    display: flex;
    justify-content:space-between;
}
.leftMainMenu li{
    position: relative;
    margin-right: 2px;
}
.mainMenu img:not(.logo){
    position: relative;
    height: 100%;
}
.mainMenu li a{
    position: relative;
    height: 100%;
    width: 100%;
}
.mainMenu li p{
    position: absolute;
    height: min-content;
    left: 7%;
    bottom: 15%;
}
.logo{
    position: absolute;
    height: 65%;
    width: auto;
    left: 7%;
    bottom: 20%;
}
.freePlaceDiv{
    contain: strict;
    flex-grow: 1;
    margin-right: 2px;
}
.freePlaceDiv div{
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    float: left;
}
.freePlaceDiv img{
    width: auto;
    height: 100%;
}



main {
    width: 100%;
}
.background{
    position: fixed;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -2;
}

#slide{
    position: relative;
    contain: strict;
    height: 100lvh;
    overflow: hidden;
}
#slide container{
    position: relative;
    display: block;
    overflow: hidden;
}
#slide12{
    position: relative;
    contain: strict;
    height: 100lvh;
    overflow: hidden;
}
.slide2{
    position: relative;
    width: 100%;
}
.slide2 container{
    position: relative;
    display: block;
}

div#video{
    width: 100vw;
    height:100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
}
video{
    pointer-events: none;
    touch-action: none;
    object-fit: cover;
    min-height: 100%;
    min-width: 100%;
    height: inherit;
    position: absolute;
    top: 50%;
    left: 33%;
    transform: translate(-33%,-50%);
}

#background_2{
    position: absolute;
    opacity: 3%;
    left: 0;
    bottom: 0;
    z-index: -1;
    min-height: 100%;
    min-width: 100%;
}
#back_sofa{
    position: absolute;
    bottom: 0;
    left: 20%;
    transform: translate(-20%, 0);
    min-width: 100%;
}

.slide_ul{
    display: flex;
    margin-left: 10dvw;
    margin-right: 10dvw;
    margin-top: 5%;
}
.slide_ul > li:nth-child(2){
    width: 21.55%;
}
#second_slide_logo{
    position: relative;
}
#second_slide_logo img{
    display: block;
    height: 3.6em;
}
#sec_slide_pre{
    position: relative;
}
.line{
    display: inline-flex;
    justify-content: space-between;
}
.pre{
    display: grid;
    vertical-align: top;
    user-select: none;
    white-space: pre;
}

#ab_us_main .pre div{
    height: 2.4ex;
}

#Slide3{
    position: relative;
    display: flex;
    width: 80%;
}
#Slide3 img:not(#img_slide_3):not(.strict_li img){
    max-width: 100%;
    width: 100%;
    display: inline-block;
}
#slide_3_in{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
#slide_3_in img :not(.strict_li img){
    display: block;
    height: 100%;
    width: auto;
}
#hidden_slide img{
    width: auto;
    max-height: 100%;
}
#img_slide_3{
    margin-top: 2%;
}
.no_sl{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.strict_li{
    contain: content;
    flex-grow: 1;
}
.strict_li img{
    display:inline-block;
    height: auto;
}
#thi_slide_pre{
    width: min-content;
    line-height: 1.2em;
}
.p_thi_slide{
    width: min-content;
    text-align: right;
}
#for_slide img{
    max-width: 100%;
    width: 100%;
}
#for_slide .p_thi_slide{
    margin-bottom: 2%;
    margin-left: auto;
}





footer{
    text-align: center;
    vertical-align: middle;
    padding: 0% 5%;
    margin: 1% 0;
    z-index: 2;
    font-size: 20px;
}
.footer_ul{
    position: relative;
    overflow: hidden;
    line-height: 1.2em;
}
.footer_ul.active{
    position: relative;
    height: 306px;
    overflow: hidden;
}
.footer_ul li{
    height: 1.2em
}
footer ul{
    display: flex;
    flex-direction: row;
}
footer li{
    margin-left: 0.5dvw;
}
footer img{
    max-width: 100%;
    height: 1.2em;
    width: auto;
}
.li_margin{
    margin: 1.5dvw;
}
footer p{
    white-space: pre-wrap;
}
.footer{
    position: absolute;
    bottom: 2%;
    width: 90%;
    overflow: hidden;
}

.container {
width: 100%;
height: 55px;
}



.menu-icon {
  margin: auto;
  display: grid;
  grid-template: grid-template-columns; 
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  height: 45px;
  width: 45px;
  cursor: pointer;
  overflow: hidden;
}



.menu-icon > span {
width: calc(45px / 9);
height: calc(45px / 9);
display: block;
background-color: white;
transition: all 0.3s ease-in-out;
justify-self: center;
}



.menu-icon:hover > span:nth-child(1) {
    transform-origin: center center;
    width: calc(45px / 9 * sqrt(2));
    height: calc(45px / 9 * 3.5 * sqrt(2));
    transform: rotate(45deg) translate(0, -50%);
}

.menu-icon:hover > span:nth-child(2) {
    height: calc(45px / 9 * 7);
}

.menu-icon:hover > span:nth-child(3) {
    transform-origin: center center;
    width: calc(45px / 9 * sqrt(2));
    height: calc(45px / 9 * 3.5 * sqrt(2));
    transform: rotate(-45deg) translate(0, -50%);
}



.menu-icon.active span:nth-child(1) {
    transform-origin: center center;
    width: calc(45px / 9 * sqrt(2));
    height: calc(45px / 9 * 3.5 * sqrt(2));
    transform: rotate(-45deg) translate(0, 50%);
}

.menu-icon.active span:nth-child(2) {
    transform: translateY(55px);
}

.menu-icon.active span:nth-child(3) {
    transform-origin: center center;
    width: calc(45px / 9 * sqrt(2));
    height: calc(45px / 9 * 3.5 * sqrt(2));
    transform: rotate(45deg) translate(0, 50%);
}



.menu-icon.active:hover span:nth-child(1){
    height: calc(3.5dvw / 9 * 7 * sqrt(2));
    transform: translate(calc(3.5dvw / 3), 0%) rotate(-45deg);
}

.menu-icon.active:hover span:nth-child(3){
    height: calc(3.5dvw / 9 * 7 * sqrt(2));
    transform: translate(calc(-3.5dvw / 3), 0%) rotate(45deg);
}










#ab_us_main{
    position: relative;
    overflow: hidden;
}
.background_sofa{
    position: absolute;
    bottom: 0;
    right: 25%;
    transform: translate(25%, 0);
    z-index: -1;
    min-width: 100%;
}
.background_ab{
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}
.ab_us_ul{
    position: absolute;
    display: flex;
    justify-content: space-between;
    margin-left: 8%;
    margin-top: 10%;
}
.ab_us_ul img{
    max-width: 100%;
}
.ab_ul_img{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}
.ab_ul_img li{
    margin-right: 6%;
    contain: content;
}
.ab_ul_img li img{
    position: relative;
    display: inline-block;
    height: auto;
}
#ab_us_pre{
    padding: 5% 0;
}





#button{
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
#button li{
    position: relative;
    margin-right: 2px;
}
#button button{
    font-family: inherit;
    appearance: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border: none;
    background-image: url('https://rahatlukum13.github.io/Level-no.5/Png/0002.png');
    background-size: cover;
    color: white
}
#button button p{
    position: absolute;
    left: 7%;
    bottom: 15%;
}
#button button:disabled{
    cursor: default;
    background-image: url('https://rahatlukum13.github.io/Level-no.5/Png/0001.png');
}

.mainContainer{
    display: grid;
    padding-bottom: 0;
}
.contain{
    padding: 1dvw;
}
.contain img{
    object-fit: cover;
}
.contain p{
    line-height: 1.2em;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}


.projects{
    display: flexbox;
    padding-top: 0;
}
.projects img{
    padding: 1dvw;
    object-fit: cover;
}
.projects_name{
    padding-bottom: 0.5em;
    font-size: 4dvw;
}


#cont_div{
    position: relative;
    display: flex;
    flex-direction: column;
    width: min-content;
    margin: auto;
    padding-top: 13em;
    z-index: 1;
}
#cont_div p{
    width: min-content;
    font-size: 45px;
    margin-bottom: 1em;
}
.line_div{
    display: flex;
    height: 1em;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.4em;
}
.line_div img{
    object-fit: cover;
    width: 0.9em;
}
.line_div div{
    display: flex;
    flex-direction: row;
}
.line_div div a{
    padding-left: 0.5em;
}
.mail{
    margin-top: 0.2em;
}
#to_contact{
    position: relative;
    display: flex;
    margin: auto;
    width: min-content;
    margin-top: 6em;
    padding-bottom: 5.5em;
    z-index: 1;
}
.foot{
    position: absolute;
    bottom: 1.5em;
    margin: auto;
    z-index: 1;
}
#cont_img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 70%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: opacity 1.5s ease-in-out;
}
